@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav.top-nav {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 3vh;
    padding-right: 12px;
    font-family: 'Inter', sans-serif;
    background: rgba(5, 60, 94, 0.8);
    font-weight: 400;
}

nav.top-nav ul{
    display: flex;
    gap: 24px;
    margin-left: auto;
}

nav.top-nav li:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

section.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 97vh;
    color: #000000;
    background: linear-gradient(-45deg, #db222a, #c32530, #ab2836, #942b3b, #7c2e41, #643047, #4c334d, #353652, #1d3958, #053c5e);
    background-size: 300% 400% ;
    position: relative;
    animation: change 11s ease-in-out infinite;
    }


@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

section.main h1{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin-bottom: 2%;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

section.main p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;

}

div.buttons {
    margin-top: 2rem;
    display: flex;
    gap: 24px;
}

div.buttons button {
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

div.buttons button:hover {
    box-sizing: border-box;
    border: 2px solid #db222a;
    background-color: #053c5e;
    color: #fff;
    cursor: pointer;
    transform: scale(1.05);
}

ul.socials {
    display: flex;
    gap: 18px;
    margin-top: 2em;
    font-size: 18px;
}

ul.socials li:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.5);
}

section.about {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

section.about h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 10px;
}

hr.blue {
    padding: 2px;
    width: 3%;
    border-radius: 50px;
    border: none;
    background-color: #1d3958;
    margin-bottom: 12px;
}

section.about p {
    font-size: 1.2em;
    color: rgb(88, 82, 82);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

div.about-info-container {
    display: flex;
}

div.column1 {
    margin-top: 3%;
    width: 40%;
    height: 500px;
    margin-right: 12em;
    margin-left: 12em;
}

div.column1 h3 {
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 2%;
}

div.column1 button {
    margin-top: 2em;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 5px;
}

div.column1 button:hover {
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #db222a;
    background-color: #053c5e;
    color: #fff;
    transform: scale(1.05);
}

div.column2 {
    margin-top: 3%;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

div.column2 p {
    font-size: 1.5em;
    margin-bottom: 2%;
}

div.column2 li {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    list-style-type:square;
    margin-bottom: 2%;
    width: 55%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    background-color: #1d3958;
    color: #fff;
}

div.column2 li:hover {
    cursor:none;
}